<div #intersectionContainer id="intersection" class="my-5">
  <p class="text-center font-bold text-[#684191] my-3">services</p>
  <div class="flex flex-col items-center my-4">
    <h1
      class="text-center text-white text-xl font-bold sm:text-2xl md:text-3xl lg:text-5xl lg:font-normal"
    >
      What do we offer our customers?
    </h1>
    <p class="text-center text-white text-sm my-4">
      Eatse offers a wide variety of services to suit our customers needs.
    </p>
  </div>

  <div class="hidden lg:block md:block">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 lg:gap-2 gap-y-3 gap-3">
      <div
        (mouseenter)="mouseEnter($event, service)"
        (mouseleave)="mouseLeave($event, service)"
        *ngFor="let service of services"
        (click)="routeToService(service.name)"
        class="transition ease-in-out p-3 w-72 bg-[#111014] lg:w-full md:w-full mx-auto lg:bg-[#111014] rounded-xl flex items-center justify-center cursor-pointer hover:border-[#008000] hover:border duration-1000"
      >
        <div>
          <div
            class="flex flex-col items-center justify-center"
            *ngIf="!service.hover"
          >
            <img
              src="{{ service.photoURL }}"
              class="w-18 lg:w-20 my-3"
            />
            <h5
              class="text-[#FFF] text-lg font-bold text-center md:text-[#FFF]"
            >
              {{ service.title | titlecase }}
            </h5>
            <p class="text-center p-2 text-sm text-gray-500">
              Click to view more
            </p>
          </div>
          <div *ngIf="service.hover">
            <p
              [@show_text]="service.hover"
              class="text-lg lg:text-sm text-gray-600 text-center font-bold"
            >
              {{ service.description.substring(0, 250) + "..." }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block lg:hidden md:hidden">
    <div
      class="flex items-center justify-around my-3 cursor-pointer rounded-md"
      *ngFor="let service of services"
      (click)="routeToService(service.name)"
    >
      <img
        src="{{ service.photoURL }}"
        class="w-28 h-28 p-2 bg-[#17161B] rounded-l-md"
      />

      <div class="flex flex-col bg-[#111014] h-28 rounded-r-md">
        <p class="px-2 text-[#FFF] text-sm font-bold">
          {{ service.title | titlecase }}
        </p>
        <p class="px-2 text-xs text-gray-500">
          {{
            service.description.length > 100
              ? service.description.substring(0, 100) + "....."
              : service.description.substring(0, 100)
          }}
        </p>
        <p
          *ngIf="service.description.length > 100"
          class="p-2 text-xs text-gray-500 hover:text-[#008000]"
        >
          CLICK TO VIEW MORE
        </p>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
