<!-- <app-top-nav></app-top-nav> -->
<div
  class="container grid grid-cols-1 lg:grid-cols md:grid-cols-2 lg:grid-cols-2"
>
  <div
    class="w-96 sm:w-100 md:w-100 flex self-center place-self-center md:place-self-center sm:place-self-center col-span-1 p-5"
  >
    <form
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm)"
      class="flex flex-col justify-center"
    >
      <p class="text-center text-white text-xl my-4 lg:text-2xl">
        Hey there, welcome back
      </p>

      <div class="flex py-2">
        <input
          type="email"
          name="email"
          class="p-3 w-100 bg-[#111014] rounded-md text-[#FFF] outline-none"
          placeholder="Email address"
          [(ngModel)]="loginDetails.username"
          ngModel
        />
      </div>
      <a
        routerLink="/auth/reset-password"
        class="text-[#008000] hover:text-[#008000] text-right text-sm float-right mb-1"
        >Forgot password?</a
      >
      <div
        class="py-2"
      >
        <input
          type="{{ !showPassword ? 'password' : 'text' }}"
          name="password"
          class="p-3 bg-[#111014] rounded-md w-100 text-[#FFF] outline-none"
          placeholder="Password"
          [(ngModel)]="loginDetails.password"
          ngModel
        />
        <!-- <span
          ><i
            (click)="viewPassword()"
            class="text-[#FFF] text-sm font-bold float-right"
            [ngClass]="{
              'ri-eye-off-line': !showPassword,
              'ri-eye-line': showPassword
            }"
          ></i
        ></span> -->
      </div>
      <div class="flex items-center gap-2 my-1">
        <input type="checkbox" class="accent-[#008000]" (change)="viewPassword()"/>
        <span class="text-[#008000] text-xs">Show password</span>
      </div>

      <div
        *ngIf="error"
        class="w-100 bg-red-600 bg-opacity-25 p-2.5 my-2 rounded-md"
      >
        <p class="text-[#FFF] text-sm text-center">{{ error }}</p>
      </div>

      <div class="">
        <button
          type="submit"
          [disabled]="submitted === true"
          class="w-100 bg-[#008000] text-white font-normal py-2 my-3 px-4 rounded"
          [ngClass]="{ 'bg-green-800': submitted, 'bg-opacity-30': submitted }"
        >
          {{ submitted === true ? "Logging in....." : "Login" }}
        </button>
        <p class="text-center text-[#FFF]">
          Don't have an account?
          <span class="text-[#008000]"
            ><a routerLink="/auth/sign-up" class="hover:text-[#008000]"
              >Sign up</a
            ></span
          >
        </p>
      </div>
    </form>
  </div>
  <div class="col-span-1 hidden md:block lg:block">
    <img src="assets/hero-img-sign-up.png" class="w-full" />
  </div>
</div>
<app-footer></app-footer>
