<div class="border-t py-5 border-gray-700">
  <div class="container grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
    <div class="">
      <p class="text-[#FFF] font-bold text-sm">Contact us</p>
      <p class="text-[#FFF] text-xs my-4">+234 704 763 6360</p>

      <p class="text-[#FFF] text-xs my-4">
        St.James house, 167 Adetokumbo Ademola Crescent, Wuse, Abuja
      </p>
      <p class="text-[#FFF] text-xs">support@eatseofficaial.ng</p>
      <div>
        <img />
        <img />
      </div>
    </div>

    <div class="">
      <p class="text-[#FFF] font-bold text-sm">Services</p>
      <a routerLink="/eatse/services/house-keeping" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Housekeeping</a>
      <a routerLink="/eatse/services/office-cleaning" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Office cleaning</a>
      <a routerLink="/eatse/services/post-construction-cleaning" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Post construction cleaning</a>
      <a routerLink="/eatse/services/fumigation" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Fumigation service</a>
      <a routerLink="/eatse/services/move-in-out-cleaning" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Move-in/move-out cleaning</a>
      <a routerLink="/eatse/services/laundry" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Laundry service</a>
      <a routerLink="/eatse/services/errands" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Errands</a>
    </div>

    <div class="">
      <p routerLink="/eatse/about" class="text-[#FFF] font-bold text-sm">
        Eatse
      </p>
      <a routerLink="/eatse/about" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">About us</a>
      <a routerLink="/auth/sign-up" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Join us</a>
      <a routerLink="/eatse/contact" class="text-[#FFF] hover:text-[#FFF] text-xs my-2" style="display: block;">Get in touch</a>
    </div>

    <div class="">
      <p class="text-[#FFF] font-bold text-sm">More</p>
      <p class="text-[#FFF] text-xs my-2">Privacy policy</p>
      <p class="text-[#FFF] text-xs my-2">Terms and conditions</p>
      <p class="text-[#FFF] text-xs my-2">F.A.Q</p>
      <p class="text-[#FFF] text-xs my-2">Get help</p>
    </div>

    <div class="col-span-2 lg:col-span-1 lg:px-auto">
      <div class="flex flex-row gap-3 justify-start">
        <img src="assets/playstore.png" class="" />
        <img src="assets/apple.png" class="" />
      </div>
      <div class="flex justify-center">
        <button
          class="bg-[#008000] hover:bg-[#008000]-700 text-white font-normal py-2 my-3 px-4 rounded"
        >
          Get the Easer app
        </button>
      </div>
    </div>
  </div>
</div>
<div class="border-t py-2 border-gray-700">
  <div class="container flex flex-row justify-between items-center">
    <a routerLink="eatse"><img src="assets/logo.png" class="" /></a>
    <p class="text-sm text-gray-500">&copy; Eatse 2023</p>
  </div>
</div>
