<app-top-nav></app-top-nav>
<div
  class="container grid grid-cols-1 md:grid-cols-3 my-4 gap-4 bg-contain bg-[url('/assets/wave2.png')]"
>
  <div
    class="p-16 w-100 col-span-1 bg-[#111014] lg:w-64 md:w-72 sm:w-48 mx-auto lg:bg-[#111014] rounded-xl flex items-center justify-center"
  >
    <img src="assets/housekeeping-img.png" class="w-full mx-auto" />
  </div>
  <div class="col-span-2 flex justify-center flex-col">
    <p class="text-lg font-bold my-3 text-[#FFF]">HOUSE-KEEPING</p>
    <p class="text-sm text-[#FFF]">
      Eatse is an online service providing company that connects people and top
      rated professionals. The concept was born out of the inefficiencies that
      exist in this space. These inefficiencies include hiring individuals with
      criminal tendencies, unprofessional staff and the high cost of hiring
      professionals. With also Service Providers in mind, inefficiencies can be
      found in how much they earn and how well they are treated.
    </p>
    <button (click)="routeToBooking()" class="ui-green-btn my-3">Book now</button>
  </div>
</div>
<app-footer></app-footer>
