<!-- <app-top-nav></app-top-nav> -->
<div
  class="container grid grid-cols-1 lg:grid-cols md:grid-cols-2 lg:grid-cols-2"
>
  <div class="w-100 flex self-center place-self-center col-span-1 p-5">
    <form
      #registrationForm="ngForm"
      (ngSubmit)="register(registrationForm)"
      class="flex flex-col justify-center"
    >
      <p class="text-center text-white text-xl my-4 lg:text-2xl">
        Get started today
      </p>

      <div class="py-2">
        <input
          name="firstname"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="First name"
          [(ngModel)]="newUser.firstname"
          ngModel
        />
      </div>

      <div class="py-2">
        <input
          name="lastname"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Last name"
          [(ngModel)]="newUser.lastname"
          ngModel
        />
      </div>

      <div class="py-2">
        <input
          name="email"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Email address"
          [(ngModel)]="newUser.email"
          ngModel
        />
      </div>

      <div class="py-2">
        <input
          name="phone"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Phone"
          [(ngModel)]="newUser.phone"
          ngModel
        />
      </div>

      <!-- <div class="py-2">
        <input
          name="referralCode"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Referral Code"
          [(ngModel)]="newUser.referralCode"
          ngModel
        />
      </div> -->

      <div class="py-2">
        <input
          type="password"
          name="password"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Create password"
          [(ngModel)]="newUser.password"
          ngModel
        />
      </div>

      <div class="py-2">
        <input
          type="password"
          name="passwordConfirm"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Confirm password"
          [(ngModel)]="confirmPassword"
          ngModel
        />
      </div>

      <div class="flex flex-row gap-2 py-2 justify-center">
        <input type="checkbox" class="mt-1 self-start accent-[#008000]" />
        <p class="text-[#FFF] text-xs lg:text-sm">
          I have agreed to the
          <span class="text-[#008000]"
            ><a class="hover:text-[#008000]" routerLink="/terms-and-conditions"
              >terms and condition
            </a>
            <a class="hover:text-[#008000]" routerLink="/our-policy">
              & privacy policy</a
            ></span
          >
        </p>
      </div>

      <div
        *ngIf="error"
        class="w-100 bg-red-600 bg-opacity-25 p-2.5 my-2 rounded-md"
      >
        <p class="text-[#FFF] text-sm text-center">{{ error }}</p>
      </div>

      <div class="">
        <button
          [disabled]="submitted"
          class="w-100 bg-[#008000] hover:bg-[#008000]-700 text-white font-normal py-2 my-3 px-4 rounded"
          [ngClass]="{ 'bg-opacity-30': submitted }"
        >
          {{ submitted ? "Creating account....." : "Create account" }}
        </button>
        <p class="text-center text-[#FFF]">
          Already have an account?
          <span class="text-[#008000]"
            ><a routerLink="/auth/sign-in" class="hover:text-[#008000]"
              >Login</a
            ></span
          >
        </p>
      </div>
    </form>
  </div>
  <div class="col-span-1 hidden md:block lg:block">
    <img src="assets/hero-img-sign-up.png" class="w-full" />
  </div>
</div>
<app-footer></app-footer>
