<app-top-nav></app-top-nav>
<div
  class="container grid grid-cols-1 lg:grid-cols md:grid-cols-2 lg:grid-cols-2"
>
  <div
    class="w-96 sm:w-100 md:w-100 flex self-center place-self-center md:place-self-center sm:place-self-center col-span-1 p-5"
  >
    <form
      #newPasswordForm="ngForm"
      (ngSubmit)="submitPassword(newPasswordForm)"
      class="flex flex-col justify-center"
    >
      <p class="text-center text-white text-xl my-4 lg:text-2xl">
        Hey there, please enter your new password!
      </p>

      <div class="py-2">
        <input
          type="password"
          name="newPassword"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="New Password"
          [(ngModel)]="newPassword"
          ngModel
        />
      </div>

      <div class="py-2">
        <input
          type="password"
          name="confirmPassword"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
          ngModel
        />
      </div>
      <div
        *ngIf="error"
        class="w-100 bg-red-600 bg-opacity-25 p-2.5 my-2 rounded-md"
      >
        <p class="text-[#FFF] text-sm text-center">{{ error }}</p>
      </div>

      <div class="">
        <button
          type="submit"
          [disabled]="submitted === true"
          class="w-100 bg-[#008000] text-white font-normal py-2 my-3 px-4 rounded"
          [ngClass]="{ 'bg-green-800': submitted, 'bg-opacity-30': submitted }"
        >
          {{ submitted === true ? "processing...." : "Change Password" }}
        </button>

        <a routerLink="/auth/login" class="text-center text-[#008000] hover:text-[#008000] cursor-pointer">Proceed to Login<i class="ri-arrow-right-line mr-2"></i></a>
      </div>
    </form>
  </div>
  <div class="col-span-1 hidden md:block lg:block">
    <img src="assets/hero-img-sign-up.png" class="w-full" />
  </div>
</div>
<app-footer></app-footer>
