<div class="my-20">
  <div class="grid grid-cols-1 my-28 gap-16 sm:grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col justify-center mx-10">
      <p class="text-blue-900 font-bold">Eatse cares</p>
      <p class="text-3xl text-white font-semibold">
        How we are making a difference
      </p>
      <p class="mt-4 text-lg text-white">
        Being a technology company that serves as the bridge between easers and
        you. Eatse is motivated by WHY's that serves as a vision for the
        company, these WHY's are intertwined with the SDGs which is a call to
        end poverty, hunger and to ensure that people enjoy peace and
        prosperity.
      </p>
      <a
        routerLink="/goals"
        class="inline w-50 cursor-pointer rounded-md bg-[#008000] px-3 py-2.5 my-2 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-[#1008000]"
      >
        Learn more
      </a>
    </div>
    <div>
      <img src="assets/eatse/making-a-difference.png" style="width: 380px; height: 450px;"/>
    </div>
  </div>
</div>
