<div
  class="grid grid-cols-1 py-25 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2"
>
  <div class="flex flex-col justify-center py-20 mx-auto">
    <p class="text-3xl text-white sm:text-4xl lg:text-5xl">Hate Chores?</p>
    <p class="text-3xl text-white sm:text-4xl lg:text-5xl">We Love Them.</p>
    <p class="text-sm text-white mt-4 py-3 lg:text-lg">
      The future of cleaning, housekeeping and errands<br />
      technology.
    </p>
    <button (click)="gotoBooking()" class="ui-green-btn my-3">Book now</button>
  </div>

  <div class="flex flex-row items-end justify-end">
    <img src="assets/eatse/hero-img.png" class="w-full" />
  </div>
</div>
