<app-top-nav></app-top-nav>

<div class="border-y-2 border-gray-600 w-full">
  <div class="flex flex-row justify-center items-center gap-5 p-4">
    <a routerLink="/booking/active"
      ><div class="flex flex-col items-center justify-center cursor-pointer">
        <i class="material-icons text-[#FFF]">event</i>
        <p class="text-[#FFF]">Active bookings</p>
      </div></a
    >
    <a routerLink="/booking/history"
      ><div class="flex flex-col items-center justify-center cursor-pointer">
        <i class="material-icons text-[#FFF]">history</i>
        <p class="text-[#FFF]">Booking history</p>
      </div></a
    >
  </div>
</div>

<div *ngIf="!currentUser" class="container">
  <div class="flex flex-col justify-center items-center my-25">
    <div class="py-10">
      <img
        src="assets/booking-calendar.png"
        style="width: 100px; height: 100px"
      />
    </div>
    <p class="text-[#FFF] text-center text-sm">
      No booking yet. Click the button below to book a service.
    </p>
    <button (click)="gotoLogin()" class="ui-green-btn my-3">Book now</button>
  </div>
</div>

<div *ngIf="currentUser && step === 0" class="my-3">
  <app-service-booking
    [incoming]="currentPage"
    (sendClick)="gotoServiceBooking($event)"
  ></app-service-booking>
</div>

<div *ngIf="currentUser && step === 1 && selectedService !== 'office-cleaning'" class="my-3">
  <app-one-time
      [step]="step"
      [frequency]="frequency"
      [newBooking]="newBooking"
      *ngIf="step === 1"
      (updateBooking)="setBooking($event)"
      (setFrequency)="setFrequency($event)"
      (changeStep)="updateStep($event)"
    ></app-one-time>
</div>

<div *ngIf="newBooking.service === 'housekeeping'">
  <div *ngIf="frequency === 'one-time'">   
    <app-house-info
      [step]="step"
      *ngIf="step === 2"
      [newBooking]="newBooking"
      (setNewBooking)="finalBooking($event)"
    ></app-house-info>
  </div>

  <div *ngIf="frequency === 'weekly'">
    <!-- <app-one-time
      [step]="step"
      [frequency]="frequency"
      [newBooking]="newBooking"
      *ngIf="step === 2"
      (newBooking)="setBooking($event)"
      (setFrequency)="setFrequency($event)"
      (changeStep)="updateStep($event)"
    ></app-one-time> -->
    <app-house-info [step]="step" *ngIf="step === 2" [newBooking]="newBooking"></app-house-info>
  </div>

  <div *ngIf="frequency === 'monthly'">
    <!-- <app-one-time
      [step]="step"
      [frequency]="frequency"
      [newBooking]="newBooking"
      *ngIf="step === 1"
      (newBooking)="setBooking($event)"
      (setFrequency)="setFrequency($event)"
      (changeStep)="updateStep($event)"
    ></app-one-time> -->
    <app-house-info [step]="step" *ngIf="step === 2" [newBooking]="newBooking"></app-house-info>
  </div>

  <div *ngIf="frequency === 'custom'">
    <!-- <app-one-time
      [step]="step"
      [frequency]="frequency"
      [newBooking]="newBooking"
      *ngIf="step === 1"
      (newBooking)="setBooking($event)"
      (setFrequency)="setFrequency($event)"
      (changeStep)="updateStep($event)"
    ></app-one-time> -->
    <app-house-info [step]="step" *ngIf="step === 2" [newBooking]="newBooking"></app-house-info>
  </div>
</div>

<div *ngIf="newBooking.service === 'deep cleaning'">
  <div *ngIf="frequency === 'one-time'">
    <!-- <app-one-time
      [step]="step"
      [frequency]="frequency"
      [newBooking]="newBooking"
      *ngIf="step === 1"
      (updateBooking)="setBooking($event)"
      (setFrequency)="setFrequency($event)"
      (changeStep)="updateStep($event)"
    ></app-one-time> -->
    <app-house-info
      [step]="step"
      *ngIf="step === 2"
      [newBooking]="newBooking"
      (setNewBooking)="finalBooking($event)"
    ></app-house-info>
  </div>

  <div *ngIf="frequency === 'monthly'">
    <!-- <app-one-time
      [step]="step"
      [frequency]="frequency"
      [newBooking]="newBooking"
      *ngIf="step === 1"
      (newBooking)="setBooking($event)"
      (setFrequency)="setFrequency($event)"
      (changeStep)="updateStep($event)"
    ></app-one-time> -->
    <app-house-info [step]="step" [newBooking]="newBooking"></app-house-info>
  </div>

  <div *ngIf="frequency === 'custom'">
    <!-- <app-one-time
      [step]="step"
      [frequency]="frequency"
      [newBooking]="newBooking"
      *ngIf="step === 1"
      (newBooking)="setBooking($event)"
      (setFrequency)="setFrequency($event)"
      (changeStep)="updateStep($event)"
    ></app-one-time> -->
    <app-house-info [step]="step" [newBooking]="newBooking"></app-house-info>
  </div>
</div>

<div *ngIf="newBooking.service === 'errands'">
  <app-errand-booking *ngIf="step === 2" [newBooking]="newBooking"></app-errand-booking>
</div>

<div *ngIf="newBooking.service === 'post construction cleaning'">
  <app-book-details *ngIf="step === 2" [newBooking]="newBooking"></app-book-details>
</div>

<div *ngIf="newBooking.service === 'move-in-out-cleaning'">
  <app-book-details *ngIf="step === 2" [newBooking]="newBooking"></app-book-details>
</div>

<div *ngIf="newBooking.service === 'office-cleaning'">
  <app-book-details *ngIf="step === 2" [newBooking]="newBooking"></app-book-details>
</div>

<div *ngIf="newBooking.service === 'laundry'">
  <app-laundry *ngIf="step === 2" [newBooking]="newBooking"></app-laundry>
</div>

<app-footer></app-footer>
