<div
  class="container grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-5 sm:gap-2 md:gap-5 bg-[url('/assets/wave2.png')]"
>
  <div class="col-span-1 sm:col-span-1 md:col-span-1">
    <div class="w-full">
      <p class="text-[#FFF] font-bold text-lg">Frequency</p>
      <div
        (click)="selectFrequency(frequency)"
        *ngFor="let frequency of frequencies"
        class="flex flex-row p-3 my-2 gap-4 items-center w-full rounded-lg"
        [ngClass]="{
          'bg-[#008000]': selectedFrequency === frequency,
          'bg-[#111014]': selectedFrequency !== frequency
        }"
      >
        <input
          class="self-center"
          type="radio"
          value="{{ newBooking.frequency }}"
          name="frequency"
          [checked]="selectedFrequency === frequency"
        /><label class="text-[#FFF] font-bold text-xl accent-[#eee]">{{
          frequency
        }}</label>
      </div>
    </div>
  </div>
  <div class="col-span-1 sm:col-span-1 md:col-span-1">
    <app-date-picker *ngIf="selectedFrequency !== 'weekly'" [frequency]="selectedFrequency" (setDates)="setDate($event)"></app-date-picker>
    <app-weekly-picker *ngIf="selectedFrequency === 'weekly'" [frequency]="selectedFrequency"></app-weekly-picker>
  </div>
  <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-1">
    <p class="text-[#FFF] font-bold text-lg">Pick arrival time</p>
    <div class="w-full my-2 flex flex-wrap gap-2">
      <div
        *ngFor="let time of times"
        (click)="setArrivalTime(time)"
        class="p-3 w-20 rounded-lg bg-[#111014] cursor-pointer"
        [ngClass]="{
          'bg-[#008000]':
            newBooking.arrivalTime === time.time &&
            newBooking.period === time.period,
          'bg-[#111014]':
            newBooking.arrivalTime !== time.time ||
            newBooking.period !== time.period
        }"
      >
        <p class="text-[#FFF] text-center text-sm">{{ time.time }}{{ time.period }}</p>
      </div>
    </div>
  </div>
</div>
<div class="flex items-center justify-center my-4">
  <button class="ui-green-btn" (click)="nextPhase()">Next</button>
</div>
