<app-top-nav></app-top-nav>

<div class="border-y-2 border-gray-600 w-full">
  <div class="flex flex-row justify-center items-center gap-5 p-4">
    <a routerLink="/booking/active"
      ><div class="flex flex-col items-center justify-center cursor-pointer">
        <i class="material-icons text-[#FFF]" [ngClass]="{'text-[#008000]' : activeRoute === 'active'}">event</i>
        <p class="text-[#FFF]" [ngClass]="{'text-[#008000]' : activeRoute === 'active'}">Active bookings</p>
      </div></a
    >
    <a routerLink="/booking/history"
      ><div class="flex flex-col items-center justify-center cursor-pointer">
        <i class="material-icons text-[#FFF]">history</i>
        <p class="text-[#FFF]">Booking history</p>
      </div></a
    >
  </div>
</div>

<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-3 my-5">
  <div
    *ngFor="let booking of bookings"
    class="block w-full p-6 bg-[#121214] rounded-lg shadow"
  >
    <div class="flex items-center justify-between">
      <p class="text-[#FFF] text-lg font-semibold">{{ booking.service }}</p>
      <div class="p-3 border-b-gray-700">
        <p class="text-[#FFF] text-md">₦ {{ booking.servicePrice ? booking.servicePrice : booking.cost }}</p>
      </div>
    </div>
    <div>
      <p class="text-[#FFF] text-md">{{ booking.address }}</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
