<div class="my-20">
  <div class="grid grid-cols-1 my-28 gap-16 sm:grid-cols-1 md:grid-cols-2">
    <div>
      <img src="assets/relaxation-img.png" />
    </div>
    <div class="flex flex-col justify-center mx-10">
      <p class="text-3xl text-white font-semibold">With Eatse, Life is easy</p>
      <p class="mt-4 text-lg text-white">
        Enjoy flexibility with our customized bookings, anytime, anywhere, which
        comes with great customer service
      </p>
      <button (click)="gotoBooking()" class="ui-green-btn my-4">Book now</button>
    </div>
  </div>

  <div class="grid grid-cols-1 my-28 gap-16 sm:grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col items-center justify-center mx-10">
      <p class="text-3xl text-white font-semibold">
        Top quality service and professionals
      </p>
      <p class="w-full text-white mt-4 text-lg">
        Enjoy flexibility with our customized bookings, anytime, anywhere, which
        comes with great customer service
      </p>
    </div>

    <div class="">
      <img src="assets/Eatse-professionals.png" />
    </div>
  </div>

  <div class="grid grid-cols-1 my-28 gap-16 sm:grid-cols-1 md:grid-cols-2">
    <div>
      <img src="assets/easy-money.png" />
    </div>
    <div class="flex flex-col justify-center mx-10">
      <p class="text-3xl text-white font-semibold">
        Earn extra money working with Eatse
      </p>
      <p class="text-sm text-white font-semibold my-3">
        Make money with ease working with Eatse
      </p>
      <p class="w-full mt-4 text-white text-lg">
        Enjoy flexibility with our customized bookings, anytime, anywhere, which
        comes with great customer service
      </p>
      <button class="ui-green-btn mt-3">Become an Easer</button>
    </div>
  </div>
</div>
