<div class="my-20">
  <div class="grid grid-cols-1 my-28 gap-16 sm:grid-cols-1 md:grid-cols-2">
    <div>
      <img src="assets/relaxation-img.png" />
    </div>
    <div class="flex flex-col justify-center mx-10">
      <p class="text-3xl text-white font-semibold">With Eatse, Life is easy</p>
      <p class="mt-4 text-lg text-white">
        Enjoy flexibility with our customized bookings, anytime, anywhere, which
        comes with great customer service
      </p>
      <a routerLink="/booking" class="text-[#FFF] text-center bg-[#008000] py-2 hover:text-[#FFF] w-32 rounded my-4">
        Book now
      </a>
    </div>
  </div>

  <div class="grid grid-cols-1 my-28 gap-16 sm:grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col items-center justify-center mx-10">
      <p class="text-3xl text-white font-semibold">
        Top quality service and professionals
      </p>
      <p class="w-full text-white mt-4 text-lg">
        Enjoy flexibility with our customized bookings, anytime, anywhere, which
        comes with great customer service
      </p>
    </div>

    <div class="">
      <img src="assets/Eatse-professionals.png" />
    </div>
  </div>

  <div class="grid grid-cols-1 my-28 gap-16 sm:grid-cols-1 md:grid-cols-2">
    <div>
      <img src="assets/easy-money.png" />
    </div>
    <div class="flex flex-col justify-center mx-10">
      <p class="text-3xl text-white font-semibold">
        Earn extra money working with Eatse
      </p>
      <p class="text-sm text-white font-semibold my-3">
        Make money with ease working with Eatse
      </p>
      <div class="mb-2">
        <div class="flex flex-row gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
          >
            <rect width="22" height="22" rx="6" fill="#0A0A0C" />
            <mask
              id="mask0_612_1996"
              style="mask-type: alpha"
              maskUnits="userSpaceOnUse"
              x="2"
              y="1"
              width="19"
              height="20"
            >
              <rect
                x="2"
                y="1.75977"
                width="18.8571"
                height="18.8571"
                fill="#D9D9D9"
              />
            </mask>
            <g mask="url(#mask0_612_1996)">
              <path
                d="M9.5036 15.5684C9.39883 15.5684 9.30062 15.5521 9.20895 15.5193C9.11729 15.4866 9.03217 15.4309 8.9536 15.3524L5.57502 11.9738C5.43098 11.8298 5.36223 11.6431 5.36877 11.414C5.37532 11.1848 5.45062 10.9982 5.59467 10.8542C5.73871 10.7101 5.92205 10.6381 6.14467 10.6381C6.36729 10.6381 6.55062 10.7101 6.69467 10.8542L9.5036 13.6631L16.1625 7.00416C16.3066 6.86011 16.4932 6.78809 16.7223 6.78809C16.9515 6.78809 17.1381 6.86011 17.2822 7.00416C17.4262 7.14821 17.4982 7.33481 17.4982 7.56398C17.4982 7.79315 17.4262 7.97975 17.2822 8.1238L10.0536 15.3524C9.97502 15.4309 9.88991 15.4866 9.79824 15.5193C9.70657 15.5521 9.60836 15.5684 9.5036 15.5684Z"
                fill="#008000"
              />
            </g>
          </svg>
          <p class="w-full text-white text-lg font-bold">Work and earn</p>
        </div>
        <p class="text-gray-500 text-sm lg:text-lg">
          Spend few hours working and get paid weekly.
        </p>
      </div>
      <div class="">
        <div class="flex flex-row gap-3 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
          >
            <rect width="22" height="22" rx="6" fill="#0A0A0C" />
            <mask
              id="mask0_612_1996"
              style="mask-type: alpha"
              maskUnits="userSpaceOnUse"
              x="2"
              y="1"
              width="19"
              height="20"
            >
              <rect
                x="2"
                y="1.75977"
                width="18.8571"
                height="18.8571"
                fill="#D9D9D9"
              />
            </mask>
            <g mask="url(#mask0_612_1996)">
              <path
                d="M9.5036 15.5684C9.39883 15.5684 9.30062 15.5521 9.20895 15.5193C9.11729 15.4866 9.03217 15.4309 8.9536 15.3524L5.57502 11.9738C5.43098 11.8298 5.36223 11.6431 5.36877 11.414C5.37532 11.1848 5.45062 10.9982 5.59467 10.8542C5.73871 10.7101 5.92205 10.6381 6.14467 10.6381C6.36729 10.6381 6.55062 10.7101 6.69467 10.8542L9.5036 13.6631L16.1625 7.00416C16.3066 6.86011 16.4932 6.78809 16.7223 6.78809C16.9515 6.78809 17.1381 6.86011 17.2822 7.00416C17.4262 7.14821 17.4982 7.33481 17.4982 7.56398C17.4982 7.79315 17.4262 7.97975 17.2822 8.1238L10.0536 15.3524C9.97502 15.4309 9.88991 15.4866 9.79824 15.5193C9.70657 15.5521 9.60836 15.5684 9.5036 15.5684Z"
                fill="#008000"
              />
            </g>
          </svg>
          <p class="w-full text-white text-lg font-bold">
            Determine your schedule
          </p>
        </div>
        <p class="text-gray-500 text-sm lg:text-lg">
          Choose suitable working day for yourself
        </p>
      </div>
      <button class="ui-green-btn mt-3">Become an Easer</button>
    </div>
  </div>
</div>
