#firstaccordion .ui-accordion-content{
  background-color: #000 !important; 
}

.ui-accordion{
  background-color: #000 !important;
}

.custom-select{
  background-color: #111014;
  color: #FFF;
}

.ng-select.custom-select {
  border:0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom-select .ng-select-container  {            
  min-height: 100px;
  border-radius: 5;
}