<div
  class="px-2 bg-[#000] w-screen min-h-screen absolute top-0 left-0 right-0 overflow-y"
>
  <div class="my-3 flex flex-row justify-between">
    <a routerLink="/eatse"><img src="assets/logo.png" /></a>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      (click)="hideMenu()"
    >
      <mask
        id="mask0_649_182"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="24"
        height="24"
      >
        <rect width="24" height="24" fill="#D9D9D9" />
      </mask>
      <g mask="url(#mask0_649_182)">
        <path
          d="M12 13.4L7.10005 18.3C6.91672 18.4834 6.68338 18.575 6.40005 18.575C6.11672 18.575 5.88338 18.4834 5.70005 18.3C5.51672 18.1167 5.42505 17.8834 5.42505 17.6C5.42505 17.3167 5.51672 17.0834 5.70005 16.9L10.6 12L5.70005 7.10005C5.51672 6.91672 5.42505 6.68338 5.42505 6.40005C5.42505 6.11672 5.51672 5.88338 5.70005 5.70005C5.88338 5.51672 6.11672 5.42505 6.40005 5.42505C6.68338 5.42505 6.91672 5.51672 7.10005 5.70005L12 10.6L16.9 5.70005C17.0834 5.51672 17.3167 5.42505 17.6 5.42505C17.8834 5.42505 18.1167 5.51672 18.3 5.70005C18.4834 5.88338 18.575 6.11672 18.575 6.40005C18.575 6.68338 18.4834 6.91672 18.3 7.10005L13.4 12L18.3 16.9C18.4834 17.0834 18.575 17.3167 18.575 17.6C18.575 17.8834 18.4834 18.1167 18.3 18.3C18.1167 18.4834 17.8834 18.575 17.6 18.575C17.3167 18.575 17.0834 18.4834 16.9 18.3L12 13.4Z"
          fill="white"
        />
      </g>
    </svg>
  </div>
  <div class="flex flex-col gap-4">
    <a
      routerLink="/booking"
      (click)="hideMenu()"
      class="hover:text-[#008000] text-[#FFF] text-sm"
      >Booking</a
    >
    <a
      routerLink="/about"
      (click)="hideMenu()"
      class="hover:text-[#008000] text-[#FFF] text-sm"
      >About us</a
    >
    <button
      *ngIf="!currentUser"
      (click)="gotoSignUp()"
      class="btn bg-[#111014] text-white hover:bg-[#111014] rounded-sm border-[#EAEAEA]-100"
    >
      Sign up
    </button>
    <button
      *ngIf="!currentUser"
      (click)="gotoLogin()"
      class="btn bg-[#111014] text-white hover:bg-[#111014] rounded-sm border-[#EAEAEA]-100"
    >
      Customer Login
    </button>

    <div
      *ngIf="currentUser"
      class="p-2 flex items-center justify-between bg-[#111014] w-100 rounded-md"
    >
      <div class="flex items-center gap-3">
        <div
          class="p-2 w-10 rounded-[50%] bg-[#008000] text-[#FFF] font-semibold text-center"
          type="button"
        >
          {{
            currentUser.displayName
              ? currentUser.displayName[0].toUpperCase()
              : currentUser.email[0].toUpperCase()
          }}
        </div>
        <span class="text-[#FFF] font-bold text-center text-lg">{{
          currentUser.displayName ? currentUser.displayName : currentUser.email
        }}</span>
      </div>
      <i (click)="logOut()" class="material-icons text-[#FFF] cursor-pointer">logout</i>
    </div>
  </div>
</div>
