<app-top-nav></app-top-nav>
<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
  <div class="container w-full col-span-1 py-20 flex flex-col items-center">
    <div>
      <p class="text-[#FFF] text-xl font-bold my-2">
        Congrats! Online sign up completed!
      </p>
      <p class="text-[#FFF] text-sm my-2">
        Training and validation is mandatory. Please proceed to the training
        center below for training and validation.
      </p>
    </div>

    <div>
      <p class="text-[#FFF] text-sm my-2">
        Bring these documents with you to the training centerBring these
        documents with you to the training center
      </p>
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-[#008000] rounded-full"></div>
        <p class="text-[#FFF] text-sm my-2">
          Proof of residence (Utility bill, Bank statement).
        </p>
      </div>

      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-[#008000] rounded-full"></div>
        <p class="text-[#FFF] text-sm my-2">
          Valid ID (Passport, NIN slip, Voters card, Drivers license).
        </p>
      </div>

      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-[#008000] rounded-full"></div>
        <p class="text-[#FFF] text-sm my-2">Guarantor's ID and photograph.</p>
      </div>
    </div>

    <div class="block w-full p-4 bg-[#121214] rounded-lg shadow my-3">
      <div class="my-2">
        <p class="text-[#FFF] text-sm font-bold my-2">Training Center</p>
        <p class="text-[#FFF] text-xs my-2">
          ST. James House. 167 Adetobumbo, Ademola Crescent,Abuja, Nigeria.
        </p>
      </div>

      <div class="my-2">
        <p class="text-[#FFF] text-sm font-bold my-2">Date & Time</p>
        <p class="text-[#FFF] text-xs my-2">
          7th June, 2023
        </p>
        <p class="text-[#FFF] text-xs my-2">
          11 am
        </p>
      </div>
    </div>
  </div>
  <div class="col-span-1 hidden md:block lg:block">
    <img src="assets/hero-img-sign-up.png" class="w-full" />
  </div>
</div>
<app-footer></app-footer>
