<div class="max-w-3xl self-center container">
  <p class="text-white text-center text-xl lg:text-3xl">
    Submit your application
  </p>
  <form
    #applicationForm="ngForm"
    enctype="multipart/form-data"
    (ngSubmit)="submitApplication()"
  >
    <div class="mb-3">
      <label for="fullname" class="text-white text-sm"
        >Full name <span class="text-red-700">*</span></label
      >
      <input
        type="text"
        name="fullname"
        placeholder="Type name here..."
        [(ngModel)]="application.fullname"
        class="mt-1 p-2 focus:border-[#008000] text-white block w-full shadow-sm sm:text-sm rounded-md bg-[#111014] border-none"
        ngModel
      />
    </div>

    <div class="mb-3">
      <label for="email" class="text-white text-sm"
        >Email <span class="text-red-700">*</span></label
      >
      <input
        type="email"
        name="email"
        placeholder="example@email.com"
        [(ngModel)]="application.email"
        class="mt-1 p-2 focus:border-[#008000] text-white block w-full shadow-sm sm:text-sm rounded-md bg-[#111014] border-none"
        ngModel
      />
    </div>

    <div class="mb-3">
      <label for="phone" class="text-white text-sm"
        >Phone <span class="text-red-700">*</span></label
      >
      <input
        type="tel"
        name="phone"
        [(ngModel)]="application.phone"
        placeholder="+234 8000000000"
        class="mt-1 p-2 focus:border-[#008000] text-white block w-full shadow-sm sm:text-sm rounded-md bg-[#111014] border-none"
        ngModel
      />
    </div>

    <div class="mb-3">
      <label for="resume" class="text-white text-sm"
        >Resume/CV <span class="text-red-700">*</span></label
      >
      <input
        #resume
        type="file"
        hidden
        name="resume"
        (change)="onFileSelected($event)"
        ngModel
      />
      <button
        *ngIf="!application.file && !uploading"
        type="button"
        (click)="resume.click()"
        class="mt-1 p-2 font-semibold block w-full shadow-sm text-[#008000] sm:text-sm rounded-md bg-[#111014] border-none"
      >
        Upload file<i class="ri-attachment-2"></i>
      </button>
      <div
        *ngIf="!application.file && uploading"
        class="mt-1 p-2 font-semibold block w-full shadow-sm text-center text-[#008000] sm:text-sm rounded-md bg-[#111014] border-none"
      >
        uploading...
      </div>
      <div
        *ngIf="application.file && !uploading"
        (click)="resume.click()"
        class="mt-1 p-2 font-semibold block w-full shadow-sm text-center text-[#008000] sm:text-sm rounded-md bg-[#111014] border-none"
      >
        {{ filename }} uploaded <i class="ri-attachment-2"></i>
      </div>
    </div>

    <div class="mb-3">
      <label for="portfolio" class="text-white text-sm">Portfolio URL</label>
      <input
        type="text"
        name="portfolio"
        placeholder="www.portfolio.com"
        class="mt-1 p-2 focus:border-[#008000] text-white block w-full shadow-sm sm:text-sm rounded-md bg-[#111014] border-none"
        ngModel
      />
    </div>

    <div class="mb-3">
      <label for="linkedIn" class="text-white text-sm block"
        >LinkedIn URL</label
      >
      <input
        type="text"
        name="linkedIn"
        placeholder="www.linked-in-profile.com"
        class="mt-1 p-2 focus:border-[#008000] text-white block w-full shadow-sm sm:text-sm rounded-md bg-[#111014] border-none"
        ngModel
      />
    </div>

    <div class="mb-3">
      <label for="other" class="text-white text-sm">Other Website</label>
      <input
        type="text"
        name="others"
        placeholder="www.site-url.com"
        class="mt-1 p-2 focus:border-[#008000] text-white block w-full shadow-sm sm:text-sm rounded-md bg-[#111014] border-none"
        ngModel
      />
    </div>

    <div class="mb-3">
      <button
        type="submit"
        [disabled]="!application.file"
        class="bg-[#008000] text-[#FFF] p-2 w-100 rounded-md shadow-md"
      >
        Submit application
      </button>
    </div>
  </form>
</div>
