<div class="my-20">
  <div
    class="flex flex-row items-center justify-between sm:px-3 sm:justify-center px-3 bg-[#111014] rounded-md"
  >
    <div class="flex flex-col sm:px-3">
      <p
        class="text-3xl text-center text-[#FFF] py-2 sm:text-lg md:text-3xl md:text-left sm:text-center lg:text-3xl lg:text-left"
      >
        Hate Chores? We love them.
      </p>
      <p class="hidden md:hidden lg:block text-sm text-[#FFF]">
        The future of cleaning, housekeeping and errands technology innovations.
      </p>
      <button *ngIf="!currentUser" (click)="gotoRegister()" class="hidden lg:block ui-green-btn my-3">Join us</button>

      <div class="block lg:hidden my-3">
        <div class="flex flex-col justify-center items-center gap-3">
          <img src="assets/playstore.png" class="w-fit" />
          <img src="assets/apple.png" class="w-fit" />
        </div>
      </div>
    </div>
    <div class="hidden md:block lg:block relative">
      <img src="assets/elipses.png" class="" />
      <img
        src="assets/elipses-extra.png"
        class="absolute bottom-1/4 left-7 z-10"
      />
    </div>
  </div>
</div>
