<!-- <app-top-nav></app-top-nav> -->
<div
  class="container grid grid-cols-1 lg:grid-cols md:grid-cols-2 lg:grid-cols-2"
>
  <div
    class="w-96 sm:w-100 md:w-100 flex self-center place-self-center md:place-self-center sm:place-self-center col-span-1 p-5"
  >
    <form
      #resetPasswordForm="ngForm"
      (ngSubmit)="sendPasswordResetLink(resetPasswordForm)"
      class="flex flex-col justify-center"
    >
      <p class="text-center text-white text-xl my-4 lg:text-2xl">
        Forgot password?
      </p>
      <p class="text-center text-sm text-gray-300">Enter your email to recieve a reset link</p>
      <div class="py-2">
        <input
          type="email"
          name="email"
          class="p-2 w-100 bg-[#111014] rounded-md text-[#FFF]"
          placeholder="Email address"
          [(ngModel)]="email"
          ngModel
        />
      </div>

      <div class="">
        <button
          class="w-100 bg-[#008000] hover:bg-[#008000]-700 text-white font-normal py-2 my-3 px-4 rounded"
        >
          Send reset link
        </button>
        <p class="text-center text-[#FFF] text-sm">
          Back to
          <span class="text-[#008000]"
            ><a routerLink="/auth/sign-in" class="hover:text-[#008000]"
              >Login?</a
            ></span
          >
        </p>
      </div>
    </form>
  </div>
  <div class="col-span-1 hidden md:block lg:block">
    <img src="assets/hero-img-sign-up.png" class="w-full" />
  </div>
</div>
<app-footer></app-footer>
