<div class="max-w-full p-12 bg-[#090909] rounded-md shadow dark:bg-[#090909]">
  <h6 class="mb-4 text-xl font-bold tracking-tight text-white">
    Change password
  </h6>
  <form
    #changePasswordForm="ngForm"
    (ngSubmit)="updatePassword(changePasswordForm)"
  >
    <div class="col-span-2">
      <label class="my-3 text-gray-500" for="">Current password</label>
      <input
        type="password"
        name="oldPassword"
        class="p-3 w-100 bg-[#111014] rounded-md text-[#FFF]"
        placeholder="Enter old password"
        [(ngModel)]="newPassword.currentPassword"
        ngModel
      />
    </div>

    <div class="col-span-2">
      <label class="my-3 text-gray-500" for="">New password</label>
      <input
        type="password"
        name="newPassword"
        class="p-3 w-100 bg-[#111014] rounded-md text-[#FFF]"
        placeholder="Enter new password"
        [(ngModel)]="newPassword.newPassword"
        ngModel
      />
    </div>

    <div class="col-span-2">
      <label class="my-3 text-gray-500" for="">Confirm password</label>
      <input
        type="password"
        name="confirmPassword"
        class="p-3 w-100 bg-[#111014] rounded-md text-[#FFF]"
        placeholder="Confirm password"
        [(ngModel)]="confirmPassword"
        ngModel
      />
    </div>

    <div class="col-span-2 flex justify-center">
      <button
        type="submit"
        class="w-44 btn my-3 bg-[#008000] hover:text-[#FFF] text-xl text-[#FFF] hover:bg-[#008000]"
      >
        Save
      </button>
    </div>
  </form>
</div>
