<!-- <div class="border-y-2 border-gray-600">
  <div class="flex flex-row justify-center items-center gap-5 p-4">
    <a routerLink="/booking/active"
      ><div class="flex flex-col items-center justify-center cursor-pointer">
        <i class="material-icons text-[#FFF]">event</i>
        <p class="text-[#FFF]">Active bookings</p>
      </div></a
    >
    <a routerLink="/booking/history"
      ><div class="flex flex-col items-center justify-center cursor-pointer">
        <i class="material-icons text-[#FFF]">history</i>
        <p class="text-[#FFF]">Booking history</p>
      </div></a
    >
  </div>
</div> -->

<div *ngIf="!currentUser || bookings.length === 0">
  <div class="flex flex-col justify-center items-center my-25">
    <div class="py-10">
      <img
        src="assets/booking-calendar.png"
        style="width: 100px; height: 100px"
      />
    </div>
    <p class="text-[#FFF] text-center text-sm">
      No booking yet. Click the button below to book a service.
    </p>
    <button (click)="gotoBooking()" class="ui-green-btn my-3">Book now</button>
  </div>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-3 my-5"
>
  <div
    *ngFor="let booking of bookings"
    class="block w-full p-6 bg-[#121214] rounded-lg shadow"
  >
    <div class="flex items-center justify-between">
      <p class="text-[#FFF] text-lg font-semibold">{{ booking.service }}</p>
      <div
        class="p-3 flex flex-row justify-between items-center gap-3 border-b-gray-700"
      >
        <p class="text-[#FFF] text-md">
          ₦ {{ booking.servicePrice ? booking.servicePrice : booking.cost }}
        </p>
        <div class="flex flex-row gap-2 items-center">
          <div class="w-2 h-2 bg-[#008000] rounded-full"></div>
          <p class="text-[#FFF]">{{ booking.frequency }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="booking.service !== 'errand' && booking.service !== 'laundry'">
      <p class="text-[#FFF] text-md">
        {{ booking.service !== "errand" && booking.address.country }}
        <span>
          {{ booking.service !== "errand" && booking.address.state }}</span
        >
      </p>
    </div>
    <div *ngIf="booking.service === 'errand' || booking.service === 'laundry'">
      <p class="text-[#FFF] text-md">
        {{ booking.deliveryAddress.country }}
        <span> {{ booking.deliveryAddress.state }}</span>
      </p>
    </div>
  </div>
</div>
