<ng-container *ngIf="step === 1">
  <div
    class="container grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-5 sm:gap-2 md:gap-5 bg-[url('/assets/wave2.png')]"
  >
    <div class="col-span-1 sm:col-span-1 md:col-span-1">
      <div class="w-full">
        <p class="text-[#FFF] font-bold text-lg">Frequency</p>
        <div
          (click)="selectFrequency(frequency)"
          *ngFor="let frequency of frequencies"
          class="flex flex-row p-3 my-2 gap-4 items-center w-full rounded-lg"
          [ngClass]="{
            'bg-[#008000]': newBooking.frequency === frequency,
            'bg-[#111014]': newBooking.frequency !== frequency
          }"
        >
          <input
            class="self-center"
            type="radio"
            value="{{ newBooking.frequency }}"
            name="frequency"
            [checked]="newBooking.frequency === frequency"
          /><label class="text-[#FFF] font-bold text-xl accent-[#eee]">{{
            frequency
          }}</label>
        </div>
      </div>
    </div>
    <div class="col-span-1 sm:col-span-1 md:col-span-1">
      <app-date-picker
        *ngIf="newBooking.frequency !== 'weekly'"
        [booking]="newBooking"
        (setDates)="setDate($event)"
      ></app-date-picker>
      <app-weekly-picker
        *ngIf="newBooking.frequency === 'weekly'"
        [frequency]="newBooking.frequency"
      ></app-weekly-picker>
    </div>
    <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-1">
      <p class="text-[#FFF] font-bold text-lg">Pick arrival time</p>
      <div class="w-full my-2 flex flex-wrap gap-2">
        <div
          *ngFor="let time of times"
          (click)="setArrivalTime(time)"
          class="p-3 w-20 rounded-lg bg-[#111014] cursor-pointer"
          [ngClass]="{
            'bg-[#008000]':
              newBooking.arrivalTime === time.time &&
              newBooking.period === time.period,
            'bg-[#111014]':
              newBooking.arrivalTime !== time.time ||
              newBooking.period !== time.period
          }"
        >
          <p class="text-[#FFF] text-center text-sm">
            {{ time.time }}{{ time.period }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center gap-2 my-4">
    <button
      class="w-20 bg-[#111014] text-[#FFF] my-3 p-2 rounded-md"
      (click)="gotoBooking()"
    >
      Previous
    </button>
    <button
      [disabled]="newBooking.dates.length === 0 || !newBooking.arrivalTime || !newBooking.period"
      class="w-20 bg-[#008000] text-[#FFF] my-3 p-2 rounded-md"
      [ngClass]="{'bg-opacity-30': newBooking.dates.length === 0 || !newBooking.arrivalTime || !newBooking.period}"
      (click)="nextPhase()"
    >
      Next
    </button>
  </div>
</ng-container>

<ng-container *ngIf="step === 2">
  <div
    class="container grid gap-5 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-5 sm:gap-2 md:gap-5 bg-[url('/assets/wave2.png')]"
  >
    <div class="col-span-1 sm:col-span-1 md:col-span-1">
      <div>
        <p class="text-[#FFF] font-bold text-lg">Pick laundry items</p>
        <div>
          <div *ngFor="let item of laundryItems" class="flex flex-col">
            <div class="flex flex-row justify-between items-center my-2">
              <p class="text-[#FFF] text-sm mb-2">{{ item.items }}</p>
              <div class="flex flex-row">
                <div class="inline-flex rounded-md shadow-sm" role="group">
                  <button
                    type="button"
                    [disabled]="item.count == 0"
                    (click)="decreaseItemCount(item)"
                    class="px-2 py-1 text-sm font-medium text-gray-900 bg-[#111014] focus:z-10 focus:ring-2 focus:ring-transparent rounded-l-md"
                    [ngClass]="{ 'bg-opacity-50': item.count == 0 }"
                  >
                    <i class="material-icons text-[#FFF]">remove</i>
                  </button>
                  <button
                    type="button"
                    class="px-4 py-2 text-sm font-medium text-[#FFF] bg-[#000] focus:z-10 focus:ring-2 focus:ring-transparent"
                  >
                    {{ item.count }}
                  </button>
                  <button
                    type="button"
                    (click)="increaseItemCount(item)"
                    class="p-1 text-sm font-medium text-gray-900 bg-[#111014] focus:z-10 focus:ring-2 focus:ring-transparent rounded-r-md"
                  >
                    <i class="material-icons text-[#FFF]">add</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 sm:col-span-1 md:col-span-1">
      <p class="text-[#FFF] font-bold text-lg mb-2">Pick laundry Items</p>
      <div class="flex flex-col gap-2">
        <div class="">
          <input
            class="p-2 bg-[#111014] text-[#FFF] rounded-md w-full"
            name="address"
            type="text"
            placeholder="Pick up address"
            [(ngModel)]="newBooking.pickupAddress"
          />
        </div>
        <div class="">
          <input
            class="p-2 bg-[#111014] text-[#FFF] rounded-md w-full"
            name="address"
            type="text"
            placeholder="Delivery address"
            [(ngModel)]="newBooking.deliveryAddress"
          />
        </div>
        <div class="">
          <textarea
            class="p-2 bg-[#111014] text-[#FFF] rounded-md w-full"
            name="extraInfo"
            [rows]="12"
            placeholder="Enter additional information"
            [(ngModel)]="newBooking.extraInformation"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-span-1 sm:col-span-1 md:col-span-1 mt-2">
      <div
        class="p-6 mt-4 w-100 bg-[#111014] lg:bg-[#111014] rounded-md flex flex-col"
      >
        <p class="text-[#FFF] font-bold text-lg">Booking details</p>
        <div class="flex flex-row items-center justify-between gap-4">
          <p class="my-2 text-[#FFF] text-xs font-bold">Pick up address</p>
          <p class="my-2 text-[#FFF] text-xs">{{ newBooking.pickupAddress }}</p>
        </div>

        <div class="flex flex-row items-center justify-between gap-4">
          <p class="my-2 text-[#FFF] text-xs font-bold">Delivery address</p>
          <p class="my-2 text-[#FFF] text-xs">
            {{ newBooking.deliveryAddress }}
          </p>
        </div>

        <div class="flex flex-row items-center justify-between">
          <p class="my-2 text-[#FFF] text-xs font-bold">service</p>
          <p class="my-2 text-[#FFF] text-xs">{{ newBooking.service }}</p>
        </div>

        <div class="flex flex-row items-center justify-between">
          <p class="my-2 text-[#FFF] text-xs font-bold">Frequency</p>
          <p class="my-2 text-[#FFF] text-xs">{{ newBooking.frequency }}</p>
        </div>
      </div>
      <div
        class="p-6 mt-3 w-100 bg-[#111014] lg:bg-[#111014] rounded-md flex flex-col"
      >
        <p class="text-[#FFF] font-bold text-lg">Payment summary</p>
        <div class="flex flex-row items-center justify-between gap-4">
          <p class="my-2 text-[#FFF] text-xs font-bold">Total</p>
          <p class="my-2 text-[#FFF] text-xs">{{ newBooking.cost }}.00</p>
        </div>
      </div>
      <div class="flex gap-2">
        <button
          class="w-50 bg-[#111014] text-[#FFF] my-3 p-2 rounded-md"
          (click)="back()"
        >
          Previous
        </button>
        <button
          class="w-50 bg-[#008000] text-[#FFF] my-3 p-2 rounded-md"
          [disabled]="newBooking.items.length < 1 || !newBooking.pickupAddress || !newBooking.deliveryAddress"
          [ngClass]="{'bg-opacity-30': newBooking.items.length < 1 || !newBooking.pickupAddress || !newBooking.deliveryAddress}"
          (click)="proceedToPay()"
        >
          Proceed to payment
        </button>
      </div>
    </div>
  </div>
</ng-container>
