<div
  class="container grid gap-5 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-5 sm:gap-2 md:gap-5 bg-[url('/assets/wave2.png')]"
>
  <div class="col-span-1 sm:col-span-1 md:col-span-1">
    <div>
      <p class="text-[#FFF] font-bold text-lg">Available rooms</p>
      <div *ngFor="let room of rooms" class="flex flex-col">
        <div class="flex flex-row justify-between items-center my-2">
          <p class="text-[#FFF] text-sm mb-2">{{ room.roomType }}</p>
          <div class="flex flex-row">
            <div class="inline-flex rounded-md shadow-sm" role="group">
              <button
                type="button"
                (click)="decreaseRoomSize(room)"
                class="px-2 py-1 text-sm font-medium text-gray-900 bg-[#111014] focus:z-10 focus:ring-2 focus:ring-transparent rounded-l-md"
              >
                <i class="material-icons text-[#FFF]">remove</i>
              </button>
              <button
                type="button"
                class="px-4 py-2 text-sm font-medium text-[#FFF] bg-[#000] focus:z-10 focus:ring-2 focus:ring-transparent"
              >
                {{ room.count }}
              </button>
              <button
                type="button"
                (click)="increaseRoomSize(room)"
                class="px-2 py-1 text-sm font-medium text-gray-900 bg-[#111014] focus:z-10 focus:ring-2 focus:ring-transparent rounded-r-md"
              >
                <i class="material-icons text-[#FFF]">add</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1 sm:col-span-1 md:col-span-1">
    <p class="text-[#FFF] font-bold text-lg mb-2">
      House address and information
    </p>
    <div class="flex flex-col gap-2">
      <div class="">
        <input
          class="p-2 bg-[#111014] text-[#FFF] rounded-md w-full"
          name="address"
          type="text"
          placeholder="address"
          [(ngModel)]="newBooking.address"
        />
      </div>
      <div class="">
        <textarea
          class="p-2 bg-[#111014] text-[#FFF] rounded-md w-full"
          name="extraInfo"
          [rows]="12"
          placeholder="Enter additional information"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="col-span-1 sm:col-span-1 md:col-span-1 mt-2">
    <div
      class="p-6 mt-4 w-100 bg-[#111014] lg:bg-[#111014] rounded-md flex flex-col"
    >
      <p class="text-[#FFF] font-bold text-lg">Booking details</p>
      <div class="flex flex-row items-center justify-between gap-4">
        <p class="my-2 text-[#FFF] text-xs font-bold">Home address</p>
        <p class="my-2 text-[#FFF] text-xs">{{ newBooking.address }}</p>
      </div>

      <div class="flex flex-row items-center justify-between">
        <p class="my-2 text-[#FFF] text-xs font-bold">service</p>
        <p class="my-2 text-[#FFF] text-xs">{{ newBooking.service }}</p>
      </div>

      <div class="flex flex-row items-center justify-between">
        <p class="my-2 text-[#FFF] text-xs font-bold">Frequency</p>
        <p class="my-2 text-[#FFF] text-xs">{{ newBooking.frequency }}</p>
      </div>
    </div>
    <div
      class="p-6 mt-3 w-100 bg-[#111014] lg:bg-[#111014] rounded-md flex flex-col"
    >
      <p class="text-[#FFF] font-bold text-lg">Payment summary</p>
      <div class="flex flex-row items-center justify-between gap-4">
        <p class="my-2 text-[#FFF] text-xs font-bold">Total</p>
        <p class="my-2 text-[#FFF] text-xs">{{ newBooking.cost }}.00</p>
      </div>
    </div>
    <div>
      <button
        class="w-full bg-[#008000] text-[#FFF] my-3 p-2 rounded-md"
        mat-raised-button
        color="primary"
        angular4-paystack
        [paystackOptions]="options"
        [channels]="['bank', 'ussd', 'transfer']"
        (paymentInit)="paymentCancel()"
        (close)="paymentCancel()"
        (callback)="paymentDone($event)"
      >
        Proceed to payment
      </button>
    </div>
  </div>
</div>
