:host ::ng-deep {
  .p-dialog {
      background-color: black !important;
      box-shadow: 0 0 0 0.2rem gray !important;
  }

  .p-dialog .p-dialog-header {
      background-color: black !important;
      color: #FFF !important;
  }

  .p-confirmdialog .p-dialog-header {
      background-color: black !important;
      color: #FFF !important;
  }

  .p-dialog-draggable .p-dialog-header {
      background-color: black !important;
  }

  .p-dialog .p-dialog-content {
      background-color: black !important;
      color: #FFFFFF !important;
  }
}