<div class="my-16">
  <div class="my-2">
    <p class="text-lg text-center my-2 font-bold text-[#0C8CE9]">
      Testimonials
    </p>
    <p class="text-[#FFF] text-center text-4xl">
      What customers are saying about us
    </p>
    <p class="text-[#FFF] text-center text-sm my-4">
      Here are what our customers have to say about us.
    </p>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 lg:gap-3 sm:gap-5 gap-4 mt-5"
  >
    <div
      *ngFor="let testimony of testimonials"
      class="p-6 w-72 md:w-52 lg:w-full bg-[#111014] mx-auto rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <div class="w-fit">
          <p class="text-bold text-xl font-bold text-white text-left md:text-xl lg:text-2xl">
            {{ testimony.name }}
          </p>
          <div class="w-full bg-[#008000] h-1 mt-1 rounded-xl"></div>
        </div>
        <img src="assets/quotes.png" class="w-5 self-end sm:w-8 md:w-10 lg:w-10"/>
      </div>
      <div class="mt-4">
        <p class="text-[#d3d3d3] text-left text-sm">
          {{ testimony.testimony }}
        </p>
      </div>
    </div>
  </div>
</div>
