<app-top-nav></app-top-nav>
<div class="flex flex-col items-center justify-center py-20 my-20">
  <img src="assets/page_construction.png" class="" />
  <p class="text-center text-[#FFF] font-bold text-xl my-4">
    This page is currently under construction
  </p>
  <p class="text-center text-[#FFF] text-sm">
    We are working really hard to get it up and running, thank you for your
    patience.
  </p>
  <p class="text-center text-gray-600 text-xs my-2">
    For further enquiries kindly leave us a message on any of our social media
    platforms.
  </p>
  <div class="flex flex-row gap-4">
    <a href="https://instagram.com/eatseng" target="_blank"
      ><img src="assets/insta.png"
    /></a>
  </div>
</div>
<app-footer></app-footer>
