<div class="container my-3">
  <p class="text-center text-[#FFF] text-3xl font-semibold">
    Frequently asked questions
  </p>
</div>

<div class="container my-5">
  <p-accordion>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div
          class="flex gap-2 text-[#FFF] font-semibold text-xl w-full p-3 bg-[#111014] rounded-md"
        >
          How does the service fee work?
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="px-12 py-4 bg-[#0C0B0E]">
          <p class="text-gray-500 text-sm">
            If you prefer us to bring our cleaning materials, our crew member
            will come with a Eatse Cleaning Kit containing the following items:
            Cleaning Products Floor cleaner Toilet cleaner Multi-purpose cleaner
            Glass cleaner Cream cleaner Wood furniture polish Cleaning Equipment
            Vacuum cleaner Mop Bucket & spinner Microfiber cloth Sponge cloth
            Scouring pad Note: There will be an extra AED 10 per hour charge if
            you request the cleaning materials.
          </p>
        </div>
      </ng-template>
    </p-accordionTab>

    <p-accordionTab>
      <ng-template pTemplate="header">
        <div
          class="flex gap-2 text-[#FFF] font-semibold text-xl w-full p-3 bg-[#111014] rounded-md"
        >
          How do I contact Eatse?
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="px-12 py-4 bg-[#0C0B0E]">
          <p class="text-gray-500 text-sm">
            If you prefer us to bring our cleaning materials, our crew member
            will come with a Eatse Cleaning Kit containing the following items:
          </p>
          <span class="block text-gray-600">Cleaning Products</span>
          <ul style="list-style: disc; color: #fff; margin-left: 25px">
            <li class="text-gray-600">Floor cleaner</li>
            <li class="text-gray-600">Toilet cleaner</li>
            <li class="text-gray-600">Multi-purpose cleaner</li>
            <li class="text-gray-600">Glass cleaner</li>
            <li class="text-gray-600">Cream cleaner</li>
            <li class="text-gray-600">Wood furniture polish</li>
          </ul>
          <span class="block text-gray-600">Cleaning Equipment</span>
          <ul style="list-style: disc; color: #fff; margin-left: 25px">
            <li class="text-gray-600">Vacuum cleaner</li>
            <li class="text-gray-600">Mop Bucket & spinner</li>
            <li class="text-gray-600">Microfiber cloth</li>
            <li class="text-gray-600">Sponge cloth</li>
            <li class="text-gray-600">Scouring pad</li>
          </ul>
          <span class="block text-gray-600"
            >Note: There will be an extra AED 10 per hour charge if you request
            the cleaning materials.</span
          >
        </div>
      </ng-template>
    </p-accordionTab>

    <p-accordionTab>
      <ng-template pTemplate="header">
        <div
          class="flex gap-2 text-[#FFF] font-semibold text-xl w-full p-3 bg-[#111014] rounded-md"
        >
          Do you supply your own cleaning
          materials?
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="px-12 py-4 bg-[#0C0B0E]">
          <p class="text-gray-500">
            If you prefer us to bring our cleaning materials, our crew member
            will come with a Eatse Cleaning Kit containing the following items:
          </p>
          <span class="block text-gray-600">Cleaning Products</span>
          <ul style="list-style: disc; color: #fff; margin-left: 25px">
            <li class="text-gray-600">Floor cleaner</li>
            <li class="text-gray-600">Toilet cleaner</li>
            <li class="text-gray-600">Multi-purpose cleaner</li>
            <li class="text-gray-600">Glass cleaner</li>
            <li class="text-gray-600">Cream cleaner</li>
            <li class="text-gray-600">Wood furniture polish</li>
          </ul>
          <span class="block text-gray-600">Cleaning Equipment</span>
          <ul style="list-style: disc; color: #fff; margin-left: 25px">
            <li class="text-gray-600">Vacuum cleaner</li>
            <li class="text-gray-600">Mop Bucket & spinner</li>
            <li class="text-gray-600">Microfiber cloth</li>
            <li class="text-gray-600">Sponge cloth</li>
            <li class="text-gray-600">Scouring pad</li>
          </ul>
          <span class="block text-gray-600"
            >Note: There will be an extra AED 10 per hour charge if you request
            the cleaning materials.</span
          >
        </div>
      </ng-template>
    </p-accordionTab>

    <p-accordionTab>
      <ng-template pTemplate="header">
        <div
          class="flex gap-2 text-[#FFF] font-semibold text-xl w-full p-3 bg-[#111014] rounded-md"
        >
          What is housekeeping?
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="px-12 py-4 bg-[#0C0B0E]">
          <p class="text-gray-500 text-sm">
            If you prefer us to bring our cleaning materials, our crew member
            will come with a Eatse Cleaning Kit containing the following items:
          </p>
          <span class="block text-gray-600">Cleaning Products</span>
          <ul style="list-style: disc; color: #fff; margin-left: 25px">
            <li class="text-gray-600">Floor cleaner</li>
            <li class="text-gray-600">Toilet cleaner</li>
            <li class="text-gray-600">Multi-purpose cleaner</li>
            <li class="text-gray-600">Glass cleaner</li>
            <li class="text-gray-600">Cream cleaner</li>
            <li class="text-gray-600">Wood furniture polish</li>
          </ul>
          <span class="block text-gray-600">Cleaning Equipment</span>
          <ul style="list-style: disc; color: #fff; margin-left: 25px">
            <li class="text-gray-600">Vacuum cleaner</li>
            <li class="text-gray-600">Mop Bucket & spinner</li>
            <li class="text-gray-600">Microfiber cloth</li>
            <li class="text-gray-600">Sponge cloth</li>
            <li class="text-gray-600">Scouring pad</li>
          </ul>
          <span class="block text-gray-600"
            >Note: There will be an extra AED 10 per hour charge if you request
            the cleaning materials.</span
          >
        </div>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>

<ng-template #accordionHeader>
  <div
    class="flex gap-2 text-[#FFF] font-semibold text-xl w-full p-3 bg-[#111014] rounded-md"
  >
    <i class="ri-arrow-down-s-line"></i>How does the service fee work?
  </div>
</ng-template>
